* {
  box-sizing: border-box;
}

html {
  margin: auto;
}

.container {
  display: flex;
}

.home-styles {
  margin: 6px 6px;
  padding: 4px 4px;
  border: 1px solid black;
  height: 500px;
}

.template-styles {
  margin: 6px 6px;
  padding: 4px 4px;
  border: 1px solid black;
  height: 500px;
  width: 1000px;
}
button {
  margin: 0.2rem;
}

input {
  margin: 0.2rem;
}

.progress-btn {
  display: flex;
}

.theme-options {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;

  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 2px 10px;
  border: 1px solid #fff;
  display: inline-block;
  opacity: 0.5;
}
